.portfolio-modal {

	.modal-dialog {
		width: 60%;
		padding: 2em;
		margin: auto;

		.modal-content {
			padding: 2em 0;

			.modal-markdown {
				max-width: 85%;
				margin: auto;
			}
		}
	}

	.close-modal {

		width: 35px;
		height: 35px;
		right: 35px;

		.lr {
			width: 1.5px;
			height: 35px;
			margin-left: 17.5px;

			.rl {
				width: 1.5px;
				height: 35px;
				margin: 0;
			}
		}
	}
}