// Variables

// Custom variables
$header-light: #F2F2F2 !default;
$header-dark: #2d2d2d !default;

// Restated Bootstrap Variables
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// WIP Back to Bits palette
// TODO: should be somewhere else
$btb-white: #edebe8ff;
$btb-blue: #1c74e9ff;
$btb-teal: #119da4ff;
$btb-orange: #cd533bff;
$btb-black: #15191eff;
