---
---
@charset "utf-8";

@use 'sass:color';

@import "../../_sass/base/variables";
@import "../../_sass/base/mixins";

{% if site.data.style.fonts %}
    {% for font in site.data.style.fonts %}
        @mixin {{font.for}}-font {
							   font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
                               Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                               "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                       }
    {% endfor %}
{% endif %}

$primary: {{ site.data.style.palette.primary | default: "#1c74e9" }} !default;
$primary-alt: {{ site.data.style.palette.primary-alt | default: "#119da4" }} !default;
$secondary: {{ site.data.style.palette.secondary | default: "#cd533b" }} !default;
$white:   {{ site.data.style.palette.white | default: "#edebe8" }} !default;
$black:   {{ site.data.style.palette.black | default: "#15191e" }} !default;

$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

@import "../../_sass/base/page";

@import "../../_sass/components/buttons";
@import "../../_sass/components/navbar";

@import "../../_sass/layout/masthead";
@import "../../_sass/layout/portfolio";
@import "../../_sass/layout/modal";
@import "../../_sass/layout/team";
@import "../../_sass/layout/contact";
@import "../../_sass/layout/footer";
