---
---
@charset "utf-8";

@use 'sass:color';

@import "../../_sass/base/variables";
@import "../../_sass/base/mixins";

{% if site.data.style.fonts %}
    {% for font in site.data.style.fonts %}
        @mixin {{font.for}}-font {
							   font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
                               Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
                               "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                       }
    {% endfor %}
{% endif %}

$primary: {{ site.data.style.highlight | default: "#FED136" }} !default;
$white:   {{ site.data.style.white | default: "#FFF" }} !default;
$black:   {{ site.data.style.black | default: "#000" }} !default;

$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

@import "../../_sass/base/page";

@import "../../_sass/components/buttons";
@import "../../_sass/components/navbar";

@import "../../_sass/layout/masthead";
@import "../../_sass/layout/portfolio";
@import "../../_sass/layout/team";
@import "../../_sass/layout/contact";
@import "../../_sass/layout/footer";
