<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

	{% include head.html %}

	<body id="page-top">

		{{ content }}

		{% include footer.html %}

		<!-- Bootstrap core JavaScript -->
		<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
		<script src="{{ 'assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>

		<!-- Bootstrap icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">

		<!-- Plugin JavaScript -->
		<script src="{{ 'assets/js/jquery.easing.min.js' | relative_url }}"></script>

		<!-- Custom scripts for this template -->
		<script src="{{ 'assets/js/agency.min.js' | relative_url }}"></script>

	</body>
</html>