// Styling for the team section
.team-member {
	margin-bottom: 50px;
	text-align: center;

	img {
		width: 175px;
		height: 175px;
	}

	h4 {
		margin-top: 15px;
		margin-bottom: 0;
		text-transform: none;
		font-size: 20px;
	}

	p {
		margin-top: 0;
	}

	.team-list {

		margin-top: -0.75em;

		.team-badge {
			color: white;
		}

		.kb {
			background-color: $k-boom;
		}

		.gm {
			background-color: $goblin-mancer;
		}
	}


	ul.social-buttons li a {
		font-size: 15px;
		line-height: 35px;
		display: block;
		width: 35px;
		height: 35px;
	}
}
